body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c3e50;
  color: white;
  padding: 15px 30px;
}

.navbar nav a {
  color: #ffffff;          
  text-decoration: none;
  font-weight: bold;
}

.navbar nav a:visited {
  color: #ffffff;          
}

.navbar nav a:hover {
  color: #f1c40f;          
  text-decoration: underline;
}


/* FORM */
.content {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input,
form button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

form button {
  background: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

#exportExcel {
  margin-top: 15px;
  padding: 10px 15px;
  background: #27ae60;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#exportExcel:hover {
  background: #1e8449;
}
