body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c3e50;
  color: white;
  padding: 15px 30px;
}

.navbar nav a {
  color: #ffffff;          /* PUTIH */
  text-decoration: none;
  font-weight: bold;
}

.navbar nav a:visited {
  color: #ffffff;          /* tetap PUTIH walau sudah diklik */
}

.navbar nav a:hover {
  color: #f1c40f;          /* kuning saat hover */
  text-decoration: underline;
}


/* TABLE */
.content {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  background: #577c85;
  color: white;
}
